.heeCND {
	height: 500px;
}

.DatePicker_container__39NzF,
.DatePicker_buttonWrapper__2Zolw {
	height: inherit;
	justify-content: center;
}

.DatePicker_button__2M4aC {
	display: none;
}

.DatePicker_dateListScrollable__10YMf {
	width: inherit;
	overflow-x: hidden;
	overflow-y: scroll;
	flex-direction: column;
	align-items: center;
	margin: 0;
}

.DatePicker_monthContainer__3-hKn {
	width: inherit;
}
.DatePicker_monthContainer__3-hKn > div {
	overflow: hidden;
	flex-direction: column;
	align-items: center;
	margin-left: 0px !important;
}

.DatePicker_monthYearLabel__137fh {
	align-self: auto;
	width: auto;
	margin: 0;
	text-align: center;
}
